.carousel {
    padding: 5% 5%;
}

h1 {
    font-size: large;
    padding: 0% 1%;
}

h2 {
    font-size: medium;
    padding: 0% 1%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    margin: 0 15px;
}